# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache
.tox/

# Django
media/
staticfiles/

# VSCode
.vscode/

# Node
node_modules/
frontend/react_interface/node_modules/
frontend/react_interface/dist/

# Environment
.env
.env.*

# Poetry

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.swo
*.tmp

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Test
htmlcov/

# Others
*.orig
*.rej
